{% comment %}

    Adds metadata to item pages in a description list element.
    Fields are configured via _data/config-metadata.csv 
    
{%- endcomment -%}
{%- assign fields = site.data.config-metadata | where_exp: 'item', 'item.display_name != nil' -%}
<div id="item-metadata">
    <dl>
        {% for f in fields %}{% if page[f.field] %}
        <dt class="field">{{ f.display_name }}:</dt>
        <dd class="field-value">
            {% if f.browse_link == "true" %}
            {% assign topics = page[f.field] | split: ";" %}
            {% for t in topics %}
            <a class="me-3" href="{{ t | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ t | strip }}</a>
            {% endfor %}

            {% elsif f.external_link == "true" %}
            <a href="{{ page[f.field] }}" rel="noopener">{{ page[f.field] }}</a>


            {% elsif f.field == "architect" %}
            <a href="{{ page['architect_url'] | prepend: 'items/architects/' | downcase | relative_url }}">{{ page[f.field] }}</a>
            {% elsif f.field == "architecture_firm" %}
            <a href="{{ page['architecture_firm_url'] | prepend: 'items/firms/' | downcase | relative_url }}">{{ page[f.field] }}</a>

            {% else %}     
            {{ page[f.field] | replace: '""','"' }}{% endif %}
        </dd>

    {%- comment -%}
    Link needs to go to /architects/architect_url not items/architect_url, this field needs to go in the middle of the other metadata fields without repeating
        {% elseif page.architect_url %}<dt>Architect:</dt>
        <dd><a target="_self" rel="noopener" href="{{ page.architect_url }}">{{ page.architect }}</a>
        </dd>{% endif %}
    {%- endcomment -%}

    {%- comment -%}
        Repeat above for firms
    {%- endcomment -%}

        {% endif %}{% endfor %}
    </dl>
</div>