---
# layout for architect bio pages
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
custom-foot: js/browse-js.html
---

{%- assign items = site.data.architects -%}

{% for item in items %}
{% if item.title contains page.title %}

<div class="container py-3">
    {% include item/breadcrumbs.html %}
    <h2 class="mb-3">{{ page.title }} {% if item.active %}(active {{ item.active }}){% endif %} </h2>
</div>

<div class="container py-3">
{% if item.birthdate %}
<dt>Birthdate:</dt>
<dd>{{item.birthdate}}</dd>
{% endif %}

{% if item.deathdate %}
<dt>Deathdate:</dt>
<dd>{{item.deathdate}}</dd>
{% endif %}

{% if item.education %}
<dt>Education:</dt>
<dd>{{item.education}}</dd>
{% endif %}

{% if item.birthplace %}
<dt>Birthplace:</dt>
<dd>{{item.birthplace}}</dd>
{% endif %}

{% if item.notes %}
<dt>Notes:</dt>
<dd>{{item.notes}}</dd>
{% endif %}

{% if item.sources %}
<dt>Sources:</dt>
<dd>{{item.sources}}</dd>
{% endif %}
</div>

{% endif %}
{% endfor %}